<!DOCTYPE html>
<html>
<head>
  <title>Memleak</title>
  <%= stylesheet_link_tag    "memleak/application", media: "all" %>
  <%= javascript_include_tag "memleak/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="memleak"></div>
<div class="ct-chart"></div>
<%= yield %>

</body>
</html>
